name: Robot Framework Mobile Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ main ]

jobs:
  android_tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Start Appium server
      run: |
        npm install -g appium
        appium --port 4723 &
        sleep 5

    - name: Run Android emulator
      run: |
        sudo apt-get install qemu-kvm libvirt-bin ubuntu-vm-builder bridge-utils
        

    - name: Run Robot Framework tests
      run: |
        python -m robot -d results tests/
